%reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
%padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
%padding-right-and-left {
  padding-right: 16%;
  padding-left: 16%;
}
%margin-right-and-left {
  padding-right: 16%;
  padding-left: 16%;
}
