$site-second-color-alpha: rgba(124, 99, 95, .6);
$site-first-color: rgb(78, 67, 22);
$site-color: rgb(69,41,23);
$footer-background-color: rgb(251, 251, 248);
$navbar-background-color: rgb(153, 146, 129);
$navbar-background-color-hovered: rgb(140, 134, 118);
$breadcrumb-and-search-background: rgb(248, 247, 242);
$home-background: rgb(234, 232, 207);
$hovered-color-text: rgb(238, 238, 186);
$inner-elemets-title-color: rgb(210, 206, 175);
$thumbnail-title-color: rgb(68, 41, 23);
$platform-text-color: rgb(146, 144, 124);
$carousel-indicators-color: rgb(103, 89, 68);
$carousel-indicators-background-color: rgb(193, 191, 166);
$btn-green: rgb (120, 162, 91);
$first-layer-bgcolor: rgb (78, 67, 22);
$second-layer-bgcolor: rgb(124, 99, 95);
$slogan-text-color: rgb(101, 78, 45);
$custom-font-family: "Myriad Pro";
$gallery-font-family: "Georgia";
$gallery-font-size: 12px;
$font-size-original: 14px;
$font-size-up: 1.7em;
