@import 'variables';
@import 'resets';
@import 'media-queries';
body {
  @extend %reset;
  font-size: $font-size-original;
  font-family: $custom-font-family, sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.75), rgba(33, 33, 33, 0));
}
#gmaps-border {
  padding: 5px;
  border: 1px solid #e5e2c6;
  width: 246px;
  height: 171px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  margin-bottom: 12px;
}

#gmaps-container-1 {
  width: 244px;
  height: 171px;
}
#footer {
  @extend %padding-right-and-left;
  margin-top: 0.5em;
  color: $thumbnail-title-color;
  .copy {
    margin: 0;
    text-align: center;
    font-style: italic;
  }
}
.footer {
  text-align: center;
  background: $footer-background-color !important;
  .btn-games {
    color: white;
    width: 250px;
    position: relative;
    top: -20px;
    border-radius: 20px;
    background: url(../images/btn-down.png) no-repeat center !important;
  }
  .footer-nav {
    color: $thumbnail-title-color;
    text-align: center;
    text-transform: uppercase;
    ul {
      padding: 0;
      display: inline-block;
    }
    li {
      display: inline-block;
    }
    li:nth-of-type(2) {
      margin: 0 20px;
      vertical-align: middle;
    }
    a {
      color: inherit;
      background: none;
      &:hover {
        color: $platform-text-color;
        font-style: italic;
        text-decoration: none;
      }
    }
  }
}
#header {
  @extend %padding;
  @extend %padding-right-and-left;
  color: #ffffff;
  .pull-right {
    padding-right: 0;
  }
  .user-nav {
    text-align: right;
  }
  .my-nav {
    display: inline-block;
    li + li {
      margin-left: 10px;
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    li {
      &:hover {
        border-radius: 3px;
        background-color: rgba($navbar-background-color, .6);
      }
    }
    .badge {
      opacity: 0.8;
    }
  }
}
#logo {
  margin: -5px 0 0;
}
#nav {
  color: white;
  background: $navbar-background-color;
  margin-left: 16%;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  .navbar-header {
    position: absolute;
    width: 100%;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    right: 70px;
  }
  ul {
    background: $navbar-background-color;
    margin-left: 0;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  li,
  .navbar-brand {
    text-transform: uppercase;
    &:hover {
      color: $hovered-color-text;
      font-style: italic;
    }
    #active {
      color: $hovered-color-text;
      font-style: italic;
      background-color: $navbar-background-color;
      background: url(../images/current-bg-50.png) repeat-x 0 3px;
    }
  }
  .current {
    li::before,
    li::after {
      content: "";
      display: block;
      width: 100%;
      height: 2.5px;
      background-color: $navbar-background-color-hovered;
    }
  }
  .active:hover {
    font-style: normal;
    color: white;
    background-color: $navbar-background-color;
  }
  p {
    &:hover {
      font-style: bold;
      color: inherit;
    }
  }
  .form-group {
    position: relative;
    > .glyphicon {
      position: absolute;
      right: 0.5em;
      top: 0.75em;
    }
  }
  .container-fluid {
    @extend %padding-right-and-left;
    padding-left: 20px;
  }
}
#site-slogan {
  color: white;
  @extend %padding-right-and-left;
  margin-top: 10px;
  h3,
  p {
    width: 60%;
  }
  h3 {
    font-size: $font-size-up;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2em;
  }
  .btn-success {
    width: 250px;
    border-radius: 20px;
    border: 0;
    background: url(../images/home-button-background.png) no-repeat center !important;
    &:hover {
      border-bottom: 1px solid green;
    }
  }
}
#carousel {
  //background: $site-second-color-alpha, $site-first-color no-repeat;
  background: $site-color;
  height: 400px;
}
#myCarousel {
  height: 125px;
  background: rgb(246, 246, 239);
  a {
    color: black;
    background: rgba(246, 246, 239, 0);
  }
  h3 {
    @extend %padding-right-and-left;
    text-align: center;
    font-size: $font-size-up;
    color: $slogan-text-color;
  }
}
#main {
  background: url(../images/games-background-down.jpg) !important;
}
.my-nav {
  @extend %reset;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
}
.games {
  background: url(../images/games-backgorund.jpg) no-repeat !important;
  height: 255px !important;
}
.games-info {
  background: url(../images/games-info-background.jpg) no-repeat !important;
  height: 255px !important;
}
.movies {
  background: url(../images/movies-background.jpg) no-repeat !important;
  height: 255px !important;
}
.movies-info {
  background: url(../images/movies-info-background.jpg) no-repeat !important;
  height: 255px !important;
}
.location {
  background: url(../images/location-background.jpg) no-repeat !important;
  height: 255px !important;
}
.product-info {
  @extend %padding-right-and-left;
  p {
    color: $platform-text-color;
  }
  .left-section {
    padding: 0;
    .thumbnail {
      padding: 5px 0;
      background: none;
      border: 0;
      strong,
      b {
        color: $thumbnail-title-color;
      }
      img {
        width: 250px;
        height: 280px;
        border: 5px solid white;
        position: relative;
        margin-right: 20px;
        float: left;
      }
      .product-description {
        position: relative;
        button {
          border-radius: 20px;
        }
        ul {
          color: $thumbnail-title-color;
          list-style-type: none;
          padding: 0;
          li {
            padding-left: 10px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .right-section {
    padding: 5px 0 0 10px;
    .comments {
      background: url(../images/comments.jpg);
      background-size: 260px 250px;
      background-repeat: no-repeat;
      height: 45vh;
      p {
        padding-left: 5px;
        width: 250px;
        overflow: auto;
        &::first-letter {
          text-transform: capitalize;
          padding-left: 5px;
        }
      }
    }
  }
  .comments-title {
    text-align: left;
    font-size: 1.05em;
    padding-left: 2px;
    color: $inner-elemets-title-color;
    text-transform: uppercase;
  }
  .user-comment-section {
    img {
      margin-left: 0;
      width: 56px;
      height: 64px;
      border: 5px solid white;
      position: relative;
      float: left;
    }
    #txtarea {
      margin-left: 10px;
      border: 0;
      background: none;
      width: 250px;
      height: 230px;
    }
    button {
      display: block;
      position: relative;
      bottom: 3px;
      height: 30px;
      left: 250px;
      color: white;
      border-radius: 20px !important;
      background: url(../images/search-btn.png) no-repeat center !important;
    }
    .input {
      margin-left: 55px;
      background: url(../images/comments-user2.jpg);
      background-size: 260px 250px;
      background-repeat: no-repeat;
      height: 100%;
    }
  }
}
.promo-gallery {
  @extend %padding-right-and-left;
  background: $home-background url(../images/promo-gallery-background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .inner-elemets {
    padding: 0 2px;
    margin-bottom: 10px;
    height: 280px;
    text-align: center;
    position: relative;
    .comments-section {
      .thumbnail {
        border: 0;
        .books {
          background: url(../images/comments.jpg);
          background-size: 260px 250px;
          background-repeat: no-repeat;
          height: 100vh;
          p {
            width: 250px;
            overflow: auto;
          }
        }
      }
      img {
        margin-left: 0;
        width: 56px;
        height: 64px;
        border: 5px solid white;
        position: relative;
        float: left;
      }
    }
    iframe {
      width: 90%;
      border: 5px solid white;
      position: relative;
      float: left;
    }
    .location-text {
      margin-top: 10px;
      font-family: $gallery-font-family;
      font-size: $gallery-font-size;
      color: $platform-text-color;
      position: relative;
      float: left;
      p {
        text-align: left;
        span {
          text-transform: uppercase;
        }
        time {
          color: $thumbnail-title-color;
        }
      }
    }
    .inner-elemets-title {
      text-align: left;
      font-size: 1.05em;
      padding-left: 2px;
      color: $inner-elemets-title-color;
      text-transform: uppercase;
    }
    .thumbnail {
      margin-bottom: 0;
      background-color: inherit;
      .game-info-aside {
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        width: 100%;
      }
    }
  }
  .middle {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.panel-group {
  width: 85%;
  margin: 10px auto 20px;
  .panel-collapse {
    position: relative;
    text-align: center;
    border: 0;
    span,
    input {
      border-radius: 0;
    }
    input {
      border-right: 0;
    }
    button {
      position: relative;
      border-radius: 10px;
    }
  }
  .panel-heading {
    text-align: center;
    border-radius: 10px;
  }
}
#btn-add-game, #btn-add-movie {
  background-color: #6BBE92;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 5px auto;
}
.checkbox-inline {
  input {
    vertical-align: middle;
  }
}
.genres {
  border-bottom: 1px solid #ccc;
}
.gallery {
  @extend %padding-right-and-left;
}
.gallery-inner-element {
  height: 70px;
  padding: 0;
  .thumbnail {
    padding: 0;
    height: 70px;
    border: 0;
    background-color: inherit;
    img {
      margin-left: 0;
      width: 56px;
      height: 64px;
      border: 5px solid white;
    }
    a {
      padding: 0;
      margin-right: 15px;
      width: 56px;
      height: 64px;
      position: relative;
      float: left;
    }
    .game-info-aside {
      width: 90%;
      h5 {
        margin: 0;
        font-size: 12px;
        color: $thumbnail-title-color;
      }
    }
    .price-tag {
      display: block;
      background: url(../images/price-tag.png) no-repeat bottom left;
      padding-left: 8px;
      position: absolute;
      top: 12px;
      left: -8px;
      font-size: 10px;
      span {
        display: block;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        height: 31px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        font-style: normal;
      }
    }
  }
}
.platform {
  font-family: $gallery-font-family;
  font-size: $gallery-font-size;
  color: $platform-text-color;
  font-style: italic;
}
.carousel-indicators {
  background: url(../images/promo-gallery-background.png) no-repeat center;
  //height: 30%;
  height: 35px;
  position: relative;
  bottom: 30px;
  padding-top: 10px;
  left: 0;
  margin: auto;
  li {
    background-color: $carousel-indicators-background-color;
    border: 0;
  }
  .active {
    background-color: $carousel-indicators-color;
    border-color: $carousel-indicators-background-color;
  }
}
.carousel-inner {
  bottom: 30px;
}
.rating {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 1.3em;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
#loading {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) no-repeat;
  text-align: center;
}
#accordion {
  margin-top: 5px;
}
.breadcrumb-and-search {
  @extend %padding-right-and-left;
  background-color: $breadcrumb-and-search-background;
  .search {
    padding: 5px 0;
    input {
      width: 150px;
      float: right;
      border-radius: 20px !important;
      margin-right: 10px;
    }
    button {
      color: white;
      border-radius: 20px !important;
      background: url(../images/search-btn.png) no-repeat center !important;
    }
  }
  .breadcrumb {
    padding: 8px 0;
    font-family: $custom-font-family, Sans-Serif;
    margin-bottom: 0;
    li + li:before {
      content: ">>";
      font-size: 0.8em;
      vertical-align: text-top;
    }
    a {
      color: $platform-text-color;
      text-decoration: none;
      text-transform: uppercase;
    }
    .active {
      text-transform: uppercase;
      color: $thumbnail-title-color;
    }
  }
}
