<div class="footer row">
  <div class="comments col-lg-4">
    <div class="" id="footer-logo">
      <img src="images/footer-logo-site.png" alt="GM Spot" ><span> gm-spot</span>
      <p>
        &copy; gm-spot theme, 2016
      </p>
    </div>
    <div class="">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
      </p>
    </div>
  </div>
  <div class="comments col-lg-4">
    {{#with comments.[0]}}
    <p class="comments-title">
      Recent comments: <span>{{date}}</span>
    </p>
    <div class="">
      <p>
        {{text}}
      </p>
    </div>
    {{/with}}
  </div>
  <div class="comments col-lg-4">
    {{#with comments.[1]}}
    <p class="comments-title">
      Recent posts: <span>{{date}}</span>
    </p>
    <div class="">
      <p>
        {{text}}
      </p>
    </div>
    {{/with}}
  </div>
</div>
<hr>
