<div class="footer row">
  <div class="comments col-lg-4">
    <div class="" id="footer-logo">
      <img src="images/footer-logo-site.png" alt="GM Spot" ><span> gm-spot</span>
      <p>
        &copy; gm-spot theme, 2016
      </p>
    </div>
    <div class="">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
      </p>
    </div>
  </div>
  <div class="comments col-lg-4">
    <p class="comments-title">
      Recent comments
    </p>
    <div class="">
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
        you need to be sure there isn't anything embarrassing hidden in the middle of text.
      </p>
    </div>
  </div>
  <div class="comments col-lg-4">
    <p class="comments-title">
      Recent posts
    </p>
    <div class="">
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
        you need to be sure there isn't anything embarrassing hidden in the middle of text.
      </p>
    </div>
  </div>
</div>
<hr>
